<h2>New Todo</h2>
<form method="post" action="/todos">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label class="form-label">Title</label>
    <input class="form-control" type="text" name="todo[title]">
  </div>
  <div>
    <label class="form-label">Description</label>
    <input class="form-control" type="text" name="todo[description]">
  </div>
  <div>
    <label class="form-label">Deadline</label>
    <input class="form-control" type="date" name="todo[deadline]">
  </div>
  <div class="dropdown">
    <select name="category_id" class="form-select">
      <option selected>Choose a category:</option>
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.category %></option>
      <% end %>
    </select>
  </div>
  <div>
    <input class="btn" type="submit" value="Create todo">
  </div>
</form>