<h1>Todo Info</h1>

<h2><%= @todo.title %></h2>
<h3><%= @todo.deadline %></h3>
<p><%= @todo.description %></p>
<a href="/todos/<%= @todo.id %>/edit">Edit Todo</a>
<a href="/todos">Back to all todos</a>