<h1>New Category</h1>
<form method="post" action="/categories">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label class="form-label">Category</label>
    <input type="text" name="category" class="form-control">
  </div>
  <div>
    <input type="submit" value="Create category" class="btn">
  </div>
</form>